.PoolStat {
  background: #ffffff;
  border: 0.5px solid #a5abb8;
  box-sizing: border-box;
  box-shadow: 10px 10px 16px rgba(30, 30, 45, 0.04);
  border-radius: 7px;
  padding: 17px 24px;
  flex: 1;
  margin-right: 14px;

  &:last-child {
    margin-right: 0px;
  }

  &-Cont {
    display: flex;
    flex-direction: column;

    > h1 {
      font-weight: bold;
      font-size: 18px;
      line-height: 14px;
      color: #595d6e;
    }

    &-Context {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 26px;
      > div {
        display: flex;
        align-items: flex-start;

        img {
          margin-right: 18px;
          height: 45px;
        }
        > div {
          display: flex;
          flex-direction: column;

          p {
            font-size: 14px;
            line-height: 14px;
            color: #595d6e;
          }

          h1 {
            font-weight: bold;
            margin-top: 9px;
            font-size: 48px;
            line-height: 14px;
            color: #595d6e;
          }
        }
      }
    }

    &-Footer {
      display: flex;
      justify-content: space-between;
      margin-top: 64px;

      > div {
        flex: 1;
        border-right: 1px solid #dfe1e7;
        margin-right: 13px;

        &:last-child {
          border-right: none;
        }

        h1 {
          font-weight: bold;
          font-size: 24px;
          line-height: 14px;
          color: #595d6e;
        }

        p {
          font-size: 16px;
          line-height: 14px;
          color: #a5abb8;
          margin-top: 23px;
        }
      }
    }
  }
}
